{% extends "base.html" %}


{% block body_page %}

<script type="text/javascript">
var d=new Date()
$(document).ready(function(e) {
    $('#projectId').change(function(){
                $.get("/index/getproingroup/?projectid="+$(this).find(':selected').val()+"&t="+d.getTime(),function(result){
                        $("#box1").html(result);
            });
                
        })
});
</script>

<form class="form-horizontal" role="form" method="post" >
  {% module xsrf_form_html() %}
  <!-- -->
    <div class="form-group">
         <div class="row">
           <label class="col-sm-2 control-label" for="lable1">项目名</label>
           <div class="col-sm-2">
               <select class="form-control" name="projectId" id="projectId">
                   {% raw optionData1 %}
               </select>
           </div>
         </div>
         <div class="row">
           <div class="col-sm-3" id="box1">
           </div>
         </div>
    </div>
</form>
{% end %}
